/* Style pour la page principale du projet. */


/* Palette de couleurs du projet */
html {
    --main-black: #000000;
    --bg-green: #abebc6;
    --txt-green: #229954;
    --main-blue: #01baef;
    --main-gray: #757575;
    --main-pink: #fac8cd;
    --main-white: #fff;
    --sec-white:#d7cccc;
    --sec-green: #82e0aa;
}


/* Faire en sorte que le body occupe la totalité de l'écran et éviter des erreurs d'affichage avec l'image de fond. */
html,
body {
    margin: 0;
    height: 100%;
}

/* Definition générale de la police utilisée et de la couleur du texte. */
* {
    font-family: Georgia, serif;
    color: var(--txt-green);
}

/* Définition de l'image de fond. */
body {
    background-image: url('../images/led_panel.jpg');
}


/* Définition du style des deux encadrés de la page : couleur d'arrière plan, 
de l'angle des coins, la bordure, et la disposition de la section dans le body (position + marges)  */*
header,
#container-jeux {
    width: 75%;
    background: var(--bg-green);
    position: relative;
    margin: 0% 12.5% 6% 12.5%;
    border-radius: 5px;
    outline: 7px solid var(--txt-green);
    padding: 15px;
    top: 7%;
}


/* La balise h1 n'est utilisé dans cette page que pour le texte de fond du header : "ROTATOR" écrit en mode "ASCII art".
Définition de la taille (largeur, hauteur), position centrée, et taille de police. */
h1 {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 12px;
    margin: auto;
}

/* La balise h2 n'est utilisé que pour le titre en premier plan du header. On définit sa taille, la bordure, la position centrée du texte, la taille de la police, et la position absolue. Etant donné que la page est totalement statique, on utilise l'attribut 'absolute' pour fixer sa position exacte sur la page.*/
h2 {
    width: 35%;
    height: fit-content;
    border: 3px solid var(--txt-green);
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    margin: 10px auto;
    padding: 5px 0px;
    position: absolute;
    top: 25%;
    left: 32.5%;
}


/* Définition du style du menu (flex): agencement des éléments du menu (placer ces éléments en lignes espacées, et centrer) */
#menu {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* Définition du style des blocs dans le menu: leur taille, agencement des éléments en colonne */
#menu > * {
    height: 170px;
    width: 300px;
    display: grid;
    grid-template-rows: 50% 50%;
    /* grid-template-rows: 33% 33% 33%; */
}

/* Définition du style des boutons: leur taille, couleur de l'arrière plan, style de l'écriture (police, 
taille, couleur), bordure (couleur, épaisseur et angle des coins), position dans les blocs (marges).*/
.btn-jeux {
    height: 75%;
    width: 275px;
    background-color: var(--sec-green);
    font-size: 28px;
    border: 2px solid var(--txt-green);
    border-radius: 10px;
    margin: 15px;
    padding: 15px 25px;
}

/* Définition du style des bouttons quand le pointeur de la souris passe dessus: 
taille de police, couleur de l'arrière plan, ombre, aggrandissement des boutons */
.btn-jeux:active {
    height: 101%;
    width: 101%;
    box-shadow: 10px 5px 5px var(--txt-green);
    font-size: 32px;
    transform: translate(-5.5%, -11%);
}

/* Définition du style du footer: position dans le body */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Définition du style de l'image: taille */
img {
    max-width: 150px;
    height: auto;
}

/* Definition pour les icons des jeux : dimentions fixées et un filtre pour obtenir la couleur verte (filtre généré sur le site https://codepen.io/sosuke/pen/Pjoqqp). */
.icon-jeu {
    height: 28px !important;
    width: 28px !important;
    filter: invert(47%) sepia(38%) saturate(752%) hue-rotate(92deg) brightness(95%) contrast(97%);
    margin-right: 15px;
}
