/* Style pour la page principale du projet. */


/* Palette de couleurs du projet */
html {
    --main-black: #000000;
    --bg-green: #abebc6;
    --txt-green: #229954;
    --main-blue: #01baef;
    --main-gray: #757575;
    --main-pink: #fac8cd;
    --main-white: #fff;
    --sec-white:#d7cccc;
    --sec-green: #82e0aa;
}


/* Faire en sorte que le body occupe la totalité de l'écran et éviter des erreurs d'affichage avec l'image de fond. */
html, body {
    margin: 0;
    height: 100%;
}

/* Précision, pour tout élément, sur le calcule dans les dimentions des éléments. */
* {
    box-sizing: border-box;
}

/* Définition de l'image de fond, et de la police utilisée et de la couleur du texte. */
body {
    background-image: url('../images/led_panel.jpg');
    font-family: "Segoe UI";
    line-height: 1.5;
}

button, input, select {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}


/* ==================================================== */
/* ====================== HEADER ====================== */
/* ==================================================== */

/* Définition du style de la section principale: couleur (d'arrière plan, de l'écriture), 
de l'angle des coins, la bordure, et la disposition de la section dans le body (position + marges)  */
header {
    background: var(--bg-green);
    color: var(--txt-green);
    font-family: Georgia, serif;
    border-radius: 5px;
    outline: 7px solid var(--txt-green);
    position: relative;
    padding: 15px;
    width: 75%;
    margin: 0% 12.5% 6% 12.5%;
    top: 3%;
}


/* Définition du style du titre: sa taille (largeur, hauteur), angle et couleur de la bordure, style et 
disposition de l'écriture (placer au centre, police, taille), position du titre dans le body (marges) */
h1 {
    width: 65%;
    height: fit-content;
    border: 3px solid var(--txt-green);
    border-radius: 3px;
    text-align: center;
    font-size: 40px;
    margin: 10px auto;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */


/* ==================================================== */
/* ======================  BODY  ====================== */
/* ==================================================== */

header,
#container-body {
    width: 75%;
    background-color: var(--bg-green);
    border-radius: 5px;
    outline: 7px solid var(--txt-green);
    position: relative;
    margin: 0% 12.5% 3% 12.5%;
    padding: 15px;
    top: 3%;
}

header {
    color: var(--txt-green);
    font-family: Georgia, serif;
}

#container-btn-accueil {
    margin-bottom: 24px;
}

.container-play {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 16px;
}

/* Les boutons dans les pages de jeu */
.btn-vert, .btn-playing{
    background-color: var(--sec-green);
    width: 16.666667%;
    font-size: 16px;
    border: 2px solid var(--txt-green);
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 5px 15px;
}

.btn-playing {
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-vert:active {
    height: fit-content;
    width: 20%;
    box-shadow: 5px 2.5px 2.5px var(--txt-green);
    font-size: 19px;
    transform: translate(-5.5%, -11%);
}

.btn-playing:active {
    height: fit-content;
    width: 101%;
    box-shadow: 5px 2.5px 2.5px var(--txt-green);
    font-size: 19px;
    transform: translate(-5.5%, -11%);
}

.container-play > .btn-vert {
    margin-left: 83.333333%;
}

#container-form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-group > label {
    flex: 0 0 16.666667%;
    position: relative;
    width: 16.666667%;
    padding-right: 15px;
    padding-left: 15px;

}

.form-control {
    display: block;
    background-color: var(--main-white);
    width: 83.333333%;
    padding: 6px 12px;
    color: var(--main-gray);
    border: 1px solid var(--sec-white);
    border-radius: 4px;
    flex: 0 0 83.333333%;
    position: relative;

}

.btn-config{
    background-color:var(--sec-white) !important;
}

.output-box {
    background-color: var(--main-pink);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}


.col-10, .col-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


/* ==================================================== */
/* ====================== FOOTER ====================== */
/* ==================================================== */

/* Définition du style du footer: position dans le body */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Définition du style de l'image: taille */
img {
    max-width: 150px;
    height: auto;
}
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */


table {
    width: 100%;
    background-color: var(--main-white);
    border-collapse: collapse;
    border: 1px solid #dee2e6;

}

table thead td, table thead th {
    border-bottom-width: 2px;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table td, table th {
    border: 1px solid #dee2e6;
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

}

.container-btns {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-config {
    flex: 0 0 33.333333%;
    width: 33.333333%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 8.333333%;
}

.container-replay {
    flex: 0 0 25%;
    width: 25%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 8.333333%;
}

.container-return {
    flex: 0 0 25%;
    width: 25%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

form  > input {
    display: none;
}