<div id="container-btn-accueil">
    <button onclick="window.location.href = './';" class="btn-vert">
        <i class="las la-home"></i>&nbsp;Retour
    </button>
</div>

<form method="get" id="container-form">

    {inputs}

    <div class="container-play">
        <input type="text" name="jeu" value="{nom}" style="display:None"></input>
        <button type="submit" name="run" value="True" class="btn-vert" id="btn-relancer">
            <i class="las la-play"></i>&nbsp;Jouer !
        </button>
    </div>
    
</form>
