
<div class="container-btns">
    <div class="container-return">
        <button onclick="window.location.href = './index.html';" class="btn-playing"><i
                class="las la-home"></i>&nbsp;Return</button>
    </div>
    <form method="get" class="container-config">
        <input type="text" name="name" value="{nom_joueur}">
        <input type="text" name="jeu" value="{nom}"></input>
        <input type="text" name="mode" value="{mode}">
        <input type="text" name="diff" value="{diff}">
        <button type="submit" name="run" value="False" class="btn-playing btn-config"><i
                class="las la-user-cog"></i>&nbsp;Config</button>
    </form>
    <form method="get" class="container-replay">
        <input type="text" name="name" value="{nom_joueur}">
        <input type="text" name="jeu" value="{nom}">
        <input type="text" name="mode" value="{mode}">
        <input type="text" name="diff" value="{diff}">
        <button type="submit" name="run" value="True" class="btn-playing" id="btn-relancer"><i
                class="las la-play"></i>&nbsp;Replay!</button>
    </form>
</div>

<div class="output-box">
    {output}
</div>

{classement}